@import '../abstracts/variables';

/*———————————————————————————————————————————————————————

Local variables

—————————————————————————————————————————————————————————*/

$img-path: '../../../assets/img';

/*———————————————————————————————————————————————————————

Common

—————————————————————————————————————————————————————————*/

/* Spuit cursor */
.spuit-pointer {
  cursor: url('#{$img-path}/spuit.png') 0 21, pointer;

  &:active {
    cursor: url('#{$img-path}/spuited.png') 0 21, pointer;
  }
}

/* Prefix for input */
.input-prefix {
  display: block;
  line-height: 35px;
  border: none;
  color: rgba(255, 255, 255, 0.5);

  /* Prefix for placeholder */
  &::placeholder {
    font-family: agency-fb;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
  }

  &:focus {
    outline: 0;
    /* border-color: $shocking-pink; */
  }
}

/*———————————————————————————————————————————————————————

#colpick

—————————————————————————————————————————————————————————*/

#colpick {
  position: relative;
  width: 100%;
}

/*———————————————————————————————————————————————————————

#input-colpick < #code-colpick

—————————————————————————————————————————————————————————*/

#input-colpick {
  float: right;
  font-size: 1.2rem;
  width: 90px;
  padding: 0 10px;
  border-radius: 0 $elem-radius 0 $elem-radius;
  background-color: rgba(38, 37, 51, 0.5);
}

/*———————————————————————————————————————————————————————

#color-colpick

—————————————————————————————————————————————————————————*/

/* Show color */
#color-colpick {
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: $elem-radius;
}

/*———————————————————————————————————————————————————————

#rgb-colpick

—————————————————————————————————————————————————————————*/

/* Set RGB */
#rgb-colpick {
  margin-top: 10px;

  & > div {
    margin-top: 10px;
  }
}

#r-colpick,
#g-colpick,
#b-colpick {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

#r-colpick,
#r-colpick input {
  color: #e56470;
}

#g-colpick,
#g-colpick input {
  color: #57afb6;
}

#b-colpick,
#b-colpick input {
  color: #959bc8;
}

/* Prefix for color bars */
.bar-colpick {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 3px;
  background-color: #6a6973;
  vertical-align: middle;
  margin: auto 0;
  transform: translateY(-50%);
}

.colbar-colpick {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#r-colpick .colbar-colpick {
  width: 20%;
  background-color: #e56470;
}

#g-colpick .colbar-colpick {
  width: 18%;
  background-color: #57afb6;
}

#b-colpick .colbar-colpick {
  width: 25%;
  background-color: #959bc8;
}

/* A bar-top circle */
.bartop-colpick {
  position: absolute;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /* 1.5px is due to a height of the bar. 3px */
  transform: translateX(-50%) translateY(calc(-50% + 1.5px));
  cursor: pointer;
}

#red-cir-colpick {
  left: 20%;
  background-color: #e56470;
}

#green-cir-colpick {
  left: 18%;
  background-color: #57afb6;
}

#blue-cir-colpick {
  left: 25%;
  background-color: #959bc8;
}

/* Prefix for rgb input */
.num-colpick {
  width: 40px;
  font-size: 1.5rem;
  text-align: right;
  background-color: rgba(38, 37, 51, 0);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  padding-right: 3px;
}
