@import '../abstracts/variables';
@import '../abstracts/mixins';

/*———————————————————————————————————————————————————————

Local variables

—————————————————————————————————————————————————————————*/

$img-path: '../../../assets/img/system_ui';

$tab-radius: 6px;
$search-area-height: 80px;

/*———————————————————————————————————————————————————————

Local mixins

—————————————————————————————————————————————————————————*/

@mixin tab-prefix($tab-width) {
  .tab-prefix {
    @if $tab-width != false {
      width: $tab-width;
    }
    height: 100%;
    padding: 0 calc((#{$bar-tool-width} - 20px) / 2);

    .tab-info {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      .tab-name {
        @include ellipsis;

        line-height: $bar-tab-height;
        margin-right: 15px;
      }
    }
  }

  .close-button {
    @include set-icon('after', 20px, 20px, 50%, 50%, '#{$img-path}/close.png');

    cursor: pointer;
    margin: auto 0;
    &:hover {
      border-radius: 50%;
    }
  }

  .tab-rest {
    position: relative;

    &::after {
      content: '';
      background: rgba($color: $grey, $alpha: 0.5);
      height: 50%;
      width: 2px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .close-button {
      &:hover {
        background-color: $medium-purple;
      }
    }
  }

  .tab-current {
    background-color: $canvas-color;

    .close-button {
      &:hover {
        background-color: $light-purple;
      }
    }
  }

  .tab-curve {
    position: relative;
    height: $bar-tab-height;
    background: $canvas-color;

    &.single {
      border-radius: 0 $tab-radius 0 0;
    }

    &.double {
      border-radius: $tab-radius $tab-radius 0 0;
    }
  }

  .tab-curve:before,
  .tab-curve:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 2 * $tab-radius;
    height: $tab-radius;
  }

  .tab-curve:after {
    right: -2 * $tab-radius;
    border-radius: 0 0 0 $tab-radius;
    box-shadow: -$tab-radius 0 0 0 $canvas-color;
  }

  .tab-curve:before {
    left: -2 * $tab-radius;
    border-radius: 0 0 $tab-radius 0;
    box-shadow: $tab-radius 0 0 0 $canvas-color;
  }
}

/*———————————————————————————————————————————————————————

Common

—————————————————————————————————————————————————————————*/
/* Limit sizes of .file-wrap */
.limit-size {
  min-width: 192px;
  // max-width: 1980px;
}

/* Add a backspace icon */
.backspace-icon {
  @include set-icon(
    'after',
    20px,
    12px,
    100%,
    100%,
    '#{$img-path}/backspace.png'
  );

  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/*———————————————————————————————————————————————————————

Youtube window

—————————————————————————————————————————————————————————*/

.youtube-util {
  position: relative;

  .youtube-tab {
    @include disable-selection;
    @include tab-prefix(150px);
    @include scrollbar-prefix-horizontal(true);
    @include drop-shadow;

    border-bottom: solid $bar-border-width $canvas-color;
    border-radius: $tab-radius $elem-radius 0 0;
    background-color: $light-purple;
    color: $grey;
    position: absolute;
    z-index: -2;
    top: -$bar-tab-height - $search-area-height;
    width: 100%;
  }

  /* A wrapper for the child search box and button */
  .youtube-search {
    @include drop-shadow;

    position: absolute;
    z-index: -1;
    top: -#{$search-area-height};
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: $canvas-color;
    padding: 10px;
    border-radius: 0 0 $elem-radius $elem-radius;

    &::before {
      position: absolute;
      z-index: 1;
      content: '>';
      color: $grey;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
    }

    /* Prefix for the search box */
    .search-box-wrapper {
      position: relative;
      width: 100%;

      .youtube-search-box {
        font-weight: bold;
        position: relative;
        display: block;
        width: 100%;
        line-height: 35px;
        background-color: $dark-grey;
        border: solid 2px rgba($semi-pink, 0.5);
        border-radius: $elem-radius;
        color: $grey;
        padding: 0 45px 0 30px;

        /* Prefix for the placeholder */
        &::placeholder {
          font-weight: bold;
          color: rgba($grey, 0.6);
        }

        /* Change the color of border when focused */
        &:focus {
          outline: 0;
          border-color: $semi-pink;
        }
      }
    }

    /* Prefix for a search button */
    .youtube-search-button {
      @include hover-shadow-single;

      position: relative;
      width: 25%;
      max-width: 150px;
      margin-left: 10px;
      background-color: $semi-pink;
      border-radius: $elem-radius;
      overflow: hidden;
      cursor: pointer;

      &::after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url('#{$img-path}/search.png');
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        position: absolute;
        z-index: 0;
        left: calc(50% - 10px);
        top: 50%;
        transform: translateX(-50%);
        transform: translateY(-50%);
      }
    }
  }
}

/* Prefix for youtube iframe */
.youtube-content {
  @include disable-selection;

  background-color: $dark-grey;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
