/*———————————————————————————————————————————————————————

Common

—————————————————————————————————————————————————————————*/

/* Spuit cursor */
.spuit-pointer {
    cursor: url(../../../assets/img/spuit.png) 0 21,
        pointer;

    &:active {
        cursor: url(../../../assets/img/spuited.png) 0 21,
            pointer;
    }
}

/* Prefix for input */
.input-prefix {
    display: block;
    line-height: 34px;
    border: none;
    color: rgba(255, 255, 255, 0.5);

    /* Prefix for placeholder */
    &::placeholder {
        font-family: agency-fb;
        font-weight: bold;
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.5);
    }

    &:focus {
        outline: 0;
        /* border-color: #c1125b; */
    }
}


/*———————————————————————————————————————————————————————

#board-colpick

—————————————————————————————————————————————————————————*/

/* Color board */
#board-colpick {
    /* Overwrite the HIGHEST_Z_INDEX */
    z-index: 0 !important;
    width: 330px;
    top: 40px;
    left: 50px;
    border-radius: 6px;
    padding-top: 15px;

    /* background-color: #2f2d3b; */
    background-color: rgba(38, 37, 51, 0.5);
}


/*———————————————————————————————————————————————————————

#toggle-colpick

—————————————————————————————————————————————————————————*/

/* Wrapper for a toggling button of colpick */
#toggle-colpick {
    position: relative;
    float: left;
    width: 60px;
    height: 30px;
    margin: 0 15px;
    border-radius: 6px;
    border: solid 1px #c1125b;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        background-image: url(../../../assets/img/red_spuit.png);
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);

        transition: all .3s ease-in-out;
    }

    .active {
        background-color: #c1125b;
        opacity: 1;

        &::before {
            background-image: url(../../../assets/img/dark_spuit.png);
        }
    }
}


/*———————————————————————————————————————————————————————

#code-colpick / Parent of #input-colpick and #copy-colpick

—————————————————————————————————————————————————————————*/

/* Wrapper for color code */
#code-colpick {
    float: right;
    display: flex;
    width: 150px;
    margin: 0 15px;
}


/*———————————————————————————————————————————————————————

#input-colpick < #code-colpick

—————————————————————————————————————————————————————————*/

#input-colpick {
    width: 65%;
    font-size: 1.2rem;
    padding-left: 10px;
    border-radius: 6px 0 0 6px;
    background-color: rgba(38, 37, 51, 0.5);
}


/*———————————————————————————————————————————————————————

#copy-colpick < #code-colpick

—————————————————————————————————————————————————————————*/

/* Copy button */
#copy-colpick {
    position: relative;
    width: 35%;
    height: 34px;
    /* background-color: #c1125b; */
    background-color: rgba(193, 18, 91, 0.9);
    /* background-color: rgba(178, 31, 36, 1); */
    border-radius: 0 6px 6px 0;

    cursor: pointer;
    transition: all .1s ease-in-out;

    &:active {
        background-color: rgba(160, 20, 75, 0.9);
    }

    &::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url(../../../assets/img/copy.png);
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);

        opacity: 0.8;
    }
}


/*———————————————————————————————————————————————————————

#color-colpick

—————————————————————————————————————————————————————————*/

/* Show color */
#color-colpick {
    width: 300px;
    height: 300px;
    margin: 15px;
    border-radius: 6px;
    /* background-color: #b21f24; */
    background-color: rgba(50, 48, 63, 1);
}


/*———————————————————————————————————————————————————————

#rgb-colpick

—————————————————————————————————————————————————————————*/

/* Set RGB */
#rgb-colpick {
    border-radius: 0 0 6px 6px;
    /* background-color: #2e2d3b; */
    /* background-color: #262533; */
    background-color: rgba(38, 37, 51, 0.8);
    padding: 20px 0;

    /* Prefix for space of each child-element in the #rgb-colpick */
    &>div:not(:last-of-type) {
        margin-bottom: 10px;
    }
}

#r-colpick,
#g-colpick,
#b-colpick {
    display: flex;
    justify-content: space-between;

    font-size: 1.5rem;
    margin: 0 20px;
}

#r-colpick,
#r-colpick input {
    color: #e56470;
}

#g-colpick,
#g-colpick input {
    color: #57afb6;
}

#b-colpick,
#b-colpick input {
    color: #959bc8;
}

/* Prefix for color bars */
.bar-colpick {
    position: relative;
    display: inline-block;
    width: 70%;
    height: 3px;
    background-color: #6a6973;
    vertical-align: middle;
    margin: auto 0;
    transform: translateY(-50%);
}

.colbar-colpick {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#r-colpick .colbar-colpick {
    width: 20%;
    background-color: #e56470;
}

#g-colpick .colbar-colpick {
    width: 18%;
    background-color: #57afb6;
}

#b-colpick .colbar-colpick {
    width: 25%;
    background-color: #959bc8;
}

/* A bar-top circle */
.bartop-colpick {
    position: absolute;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* 1.5px is due to a height of the bar. 3px */
    transform: translateX(-50%) translateY(calc(-50% + 1.5px));

    cursor: pointer;
}

#red-cir-colpick {
    left: 20%;
    background-color: #e56470;
}

#green-cir-colpick {
    left: 18%;
    background-color: #57afb6;
}

#blue-cir-colpick {
    left: 25%;
    background-color: #959bc8;
}

/* Prefix for rgb input */
.num-colpick {
    width: 40px;
    font-size: 1.5rem;
    text-align: right;
    background-color: rgba(38, 37, 51, 0);
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    padding-right: 3px;
}