div#canvas-eve(style="z-index: 0;")
  div#plain(style="z-index: 2;")
    div#zoom
      <!-- For inserting elements only -->
      div#add-files

  <!-- #reset-res will reset files-related functions when clicked -->
  div#reset-res