
div#plain(style="z-index: 2;")
  div#zoom
    <!-- For inserting elements only -->
    div#add-files
      include ./youtube.ui.pug
      

<!-- #reset-res will reset files-related functions when clicked -->
div#reset-res