div#colpick
  input#input-colpick(
    class="ellipsis input-prefix bold agency-fb"
    placeholder=""
    type="text"
    spellcheck="false")

  div#color-colpick

  div#rgb-colpick
    div#r-colpick
      div.bold.agency-fb R
      div.bar-colpick
        div.colbar-colpick
        div#red-cir-colpick(class="bartop-colpick")

      input#input-r-colpick(class="num-colpick input-prefix bold agency-fb")

    div#g-colpick
      div.bold.agency-fb G
      div.bar-colpick
        div.colbar-colpick
        div#green-cir-colpick(class="bartop-colpick")

      input#input-g-colpick(class="num-colpick input-prefix bold agency-fb")

    div#b-colpick
      div.bold.agency-fb B
      div.bar-colpick
        div.colbar-colpick
        div#blue-cir-colpick(class="bartop-colpick")

      input#input-b-colpick(class="num-colpick input-prefix bold agency-fb")




