div#menu-wrapper(style="z-index: 1;")
  div#menu-file-list(class="ctxmenu-template bold agency-fb")
    ul
      li#menu-file-new
        div New 
        div &gt;

      li#menu-file-open
        div Open Canvas
        div Ctrl + O

      li#menu-file-load
        div Load Recent
        div &gt;

      li#menu-file-export
        div Export
        div &gt;

      li#menu-file-quit
        div Quit
        div Ctrl + Q


  div#menu-edit-list(class="ctxmenu-template bold agency-fb")
    ul
      li#menu-edit-undo
        div Undo
        div Ctrl + Z

      li#menu-edit-redo
        div Redo
        div Shift + Ctrl + Z

      li#menu-edit-cut
        div Cut
        div Ctrl + X

      li#menu-edit-copy
        div Copy
        div Ctrl + C

      li#menu-edit-paste
        div Paste
        div Ctrl + V

      li#menu-edit-search
        div Search
        div Ctrl + F

      li#menu-edit-settings
        div Settings


  div#menu-window-list(class="ctxmenu-template bold agency-fb")
    ul
      li
        div Text
        div +

      li
        div Text
        div +

      li
        div Text
        div +

      li
        div Text
        div +
