div#test(class="grab-pointer file-wrap limit-size" style="width: 400px; left: 200px; top: 280px;")
  div.function-wrapper
    div.thumbtack-wrapper
    div.resize-wrapper
    div.rotate-wrapper
    div.flip-wrapper
    div.trash-wrapper

  div.youtube-util
    div.youtube-tab
      ul

        li#new-tab-youtube(class="tab-prefix tab-current tab-curve double")
          div.tab-info
            div.tab-name New window
            div.close-button

    div.youtube-search
      div.search-box-wrapper
        input(class="ellipsis youtube-search-box" placeholder="Paste a YouTube link" type="text" spellcheck="false")
        div.backspace-icon
      div(class="hover-shadow-single youtube-search-button")

  div(class="eve-main is-flipped")
    div.youtube-content

