/*———————————————————————————————————————————————————————

Common

—————————————————————————————————————————————————————————*/

/* Delete a blue outline when focused on a video tag */
video:focus {
    outline: none;
}

.pointer-events-none {
    pointer-events: none;
}


/*———————————————————————————————————————————————————————

GLSL

—————————————————————————————————————————————————————————*/

/* A multiple rendering canvas */
#c {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.glsl {

    /* To make OrbirControls work */
    .selected {
        z-index: -1;
    }

    /* initialize the size */
    .eve-main {
        display: block;
        height: 0;
        width: 100%;
        padding-bottom: 100%;
    }
}

.hide-scissor {
    position: absolute;
    z-index: -999;
    width: 600px;
    height: 600px;
    background-color: #32303f;
}


/*———————————————————————————————————————————————————————

#canvas-eve-wrapper / #canvas-eve

—————————————————————————————————————————————————————————*/

#progress-bar {
    background-color: #c1125b;
    top: 0;
    left: 0;
    /* width: 100%; */
    width: 0%;
    height: 3px;
    opacity: 0;
    transition: width .3s ease-in-out,
        opacity .1s ease-out;

    /* When starting loading a file */
    .loading {
        opacity: 1.0;
    }
}

#canvas-eve,
#canvas-eve-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Change a mouse pointer to a grabbing */
#canvas-eve.active-mousewheel:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

#add-files {
    width: 0 !important;
    height: 0 !important;
}

/* For moving entire expected elements */
#plain {
    width: 0 !important;
    height: 0 !important;
    scroll-behavior: auto;
    transition: all .1s;
}

/* For zooming */
#zoom {
    width: 0 !important;
    height: 0 !important;
    position: relative;
    transform: scale(1);

    /* background: rgba(255, 0, 0, 0.2);
    width: 600px;
    height: 600px; */
}

/* To reset */
#reset-res {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.3); */
}


/*———————————————————————————————————————————————————————

.file-wrap / will be added to .file-wrap

—————————————————————————————————————————————————————————*/

/* A wrapper for a pasted image */
.file-wrap {
    position: absolute;
    z-index: 1;
    width: 600px;
    /* min-width: 192px; */
    border: solid 1px rgba(255, 0, 0, 0);
    transform-origin: center;

    /* Make it transparent at first when a drop event is called. dnd-eve.js  */
    .transparent {
        opacity: 0;
    }

    /* Prefix for canvas. colpick-eve.js */
    .canvas-colpick {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        /* left: 700px; */
        display: none;
    }
}

/* Being selected */
.selected {
    box-sizing: content-box;
    position: absolute;
    /* z-index: -1; */
    top: -1px;
    left: -1px;
    width: calc(100%);
    height: calc(100%);
    border: solid 1px red;
}

/* Prefix for a colpick board */
#board-colpick .selected {
    z-index: -1;
}

/* Grab cursor */
.grab-pointer {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;

    &:active {
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }
}


/*———————————————————————————————————————————————————————

.function-wrapper

—————————————————————————————————————————————————————————*/

/* A wrapper for the functions` icon */
.function-wrapper {
    position: absolute;
    vertical-align: middle;
    /* z-index: 1; */
    right: -70px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .1s ease-in-out;

    /* Change a height when adding new icons */
    /* height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */

    /* Prefix for the space of each child-element in the .function-wrapper */
    &>div:not(:last-of-type) {
        margin-bottom: 15px;
        transition: all .1s ease-in-out;
    }
}


/*———————————————————————————————————————————————————————

Thumbtack

—————————————————————————————————————————————————————————*/

/* Trashed an image */
.thumbtack-icon {
    position: relative;
    width: 30px;
    height: 40px;
    /* border-top: solid 3px rgba(255, 255, 255, 0.5);
    background: blue; */
    transition: all .1s ease-in-out;

    &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background-image: url(/img/works/webservice/canvas-eve/thumbtack.png);
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        position: absolute;
        z-index: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);


        opacity: 0.5;
        transition: opacity .1s ease-in-out;
    }
}

.thumbtack-wrapper.active .thumbtack-icon::after {
    opacity: 1;
}


/*———————————————————————————————————————————————————————

Resize

—————————————————————————————————————————————————————————*/

/* Resize an image */
.resize-icon {
    position: relative;
    width: 30px;
    height: 30px;
    /* background: red; */
    transition: all .1s ease-in-out;

    &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background-image: url(../../../assets/img/resize.png);
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        position: absolute;
        z-index: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        opacity: 0.5;
        transition: opacity .1s ease-in-out;
    }
}

.resize-wrapper.active .resize-icon::after {
    opacity: 1;
}

.re-left-top,
.re-right-top,
.re-right-bottom,
.re-left-bottom {
    position: absolute;
    z-index: 1;
    background-color: white;
    border: solid 1px red;
    width: 10px;
    height: 10px;
    transition: all .1s ease-in-out;
}

.re-left-top,
.re-right-bottom {
    cursor: nwse-resize;
}

.re-right-top,
.re-left-bottom {
    cursor: nesw-resize;
}

.re-left-top {
    top: -6px;
    left: -6px;
}

.re-right-top {
    top: -6px;
    right: -6px;
}

.re-right-bottom {
    bottom: -6px;
    right: -6px;
}

.re-left-bottom {
    bottom: -6px;
    left: -6px;
}


/*———————————————————————————————————————————————————————

Flip

—————————————————————————————————————————————————————————*/

/* Flipped an image */
.flip-icon {
    position: relative;
    width: 30px;
    height: 26px;
    /* background: red; */
    transition: all .1s ease-in-out;

    &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background-image: url(../../../assets/img/flip.png);
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        position: absolute;
        z-index: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        opacity: 0.5;
        transition: opacity .1s ease-in-out;
    }
}

.flip-wrapper.active .flip-icon::after {
    opacity: 1;
}

/* Prefix for video when flipped */
.is-flipped video {
    margin: 0;
    padding: 0;
    margin-bottom: -6px;
}

.flipped {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    /* transform: rotateY(180deg); */
    /* margin: -1px 0px; */
}


/*———————————————————————————————————————————————————————

Rotate

—————————————————————————————————————————————————————————*/

/* Reset rotating */
.not-rotated {
    transform: rotate(0rad) !important;
}

/* Rotate an image */
.rotate-icon {
    position: relative;
    width: 30px;
    height: 30px;
    /* background: blue; */
    transition: all .1s ease-in-out;

    &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background-image: url(../../../assets/img/rotate.png);
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        position: absolute;
        z-index: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        opacity: 0.5;
        transition: opacity .1s ease-in-out;
    }
}

.rotate-wrapper.active .rotate-icon::after {
    opacity: 1;
}


/* Added resizing-box */
.ro-left-top,
.ro-right-top,
.ro-right-bottom,
.ro-left-bottom {
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3);
    /* border: solid 1px red; */
    border-radius: 50%;
    /* width: 8px;
    height: 8px; */
    width: 20px;
    height: 20px;

    cursor: pointer;
    transition: all .1s ease-in-out;
}

.ro-left-top {
    top: -30px;
    left: -30px;
}

.ro-right-top {
    top: -30px;
    right: -30px;
}

.ro-right-bottom {
    bottom: -30px;
    right: -30px;
}

.ro-left-bottom {
    bottom: -30px;
    left: -30px;
}


/*———————————————————————————————————————————————————————

Trash

—————————————————————————————————————————————————————————*/

/* Trashed an image */
.trash-icon {
    position: relative;
    width: 30px;
    height: 35px;
    /* border-top: solid 3px rgba(255, 255, 255, 0.5);
    background: blue; */
    transition: all .1s ease-in-out;

    &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background-image: url(../../../assets/img/trash.png);
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        position: absolute;
        z-index: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);


        opacity: 0.5;
        transition: opacity .1s ease-in-out;
    }
}

.trash-wrapper.active .trash-icon::after {
    opacity: 1;
}