@charset "UTF-8";


/*———————————————————————————————————————————————————————

Common

—————————————————————————————————————————————————————————*/

/* Limit sizes of .file-wrap */
.limit-size {
    min-width: 192px;
}

/* Add a backspace icon */
.backspace-icon {
    position: absolute;
    width: 24px;
    height: 15px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.backspace-icon::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 15px;
    background-image: url(../../../assets/img/backspace.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;

    opacity: 0.5;
}

/* Change the color of border when focused */
.search-box-youtube:focus,
.child-search-box-youtube:focus {
    outline: 0;
    border-color: #e56470;
}

/* input[type="text"]:focus {
    outline: 0;
    border-color: #e56470;
} */

/* Delete a cross icon */
/* input[type="text"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} */

/* Overwrite the hover-shadow-single */
.hover-shadow-single {
    border: none;
}

.hover-shadow-single::before {
    z-index: 0;
    background-color: #dd4a59;
}


/*———————————————————————————————————————————————————————

Parent

—————————————————————————————————————————————————————————*/

#add-youtube {
    width: 880px;
    top: 40px;
    left: calc(50vw - 440px);
}

/* Prefix for the title of youtube search box */
.title-youtube {
    width: 75%;
    margin: 0px auto;
    margin-bottom: 20px;
    padding-left: 90px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

/* Add a youtube icon */
.title-youtube::before {
    content: '';
    display: inline-block;
    width: 90px;
    height: 60px;
    background-image: url(../../../assets/img/youtube.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

/* Add separation to the right side */
.sep-right {
    border-right: solid 2px rgba(255, 255, 255, 0.5);
    padding-right: 25px;
    margin-right: 25px;
}

/* Wrapper for the search box and button */
.search-youtube {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #2c2a38;
    padding: 20px;
    border-radius: 6px;
}

.search-youtube::before {
    font-family: agency-fb;
    font-weight: bold;
    font-size: 1.2rem;

    position: absolute;
    z-index: 1;
    content: '>';
    color: rgba(255, 255, 255, 0.5);
    top: 50%;
    left: 35px;
    transform: translateY(-50%);
}

/* Prefix for the search box */
.search-box-wrapper {
    width: 80%;
}

.search-box-youtube {
    font-family: agency-fb;
    font-weight: bold;
    font-size: 1.2rem;

    display: block;
    width: 100%;
    line-height: 50px;
    background-color: #2e2d3b;
    border: solid 2px rgba(229, 100, 112, 0.5);
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.5);

    padding: 0px 45px 0px 30px;
}

/* Prefix for the placeholder */
.search-box-youtube::placeholder {
    font-family: agency-fb;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.3);
}

/* Prefix for a search button */
.search-button-youtube {
    width: 17%;
    background-color: #e56470;
    border-radius: 6px;
    padding: 20px 30px;
    overflow: hidden;
    cursor: pointer;
}

/* A plus icon for the search button */
.search-button-youtube::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../../../assets/img/add.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    z-index: 0;
    left: calc(50% - 10px);
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}


/*———————————————————————————————————————————————————————

Children

—————————————————————————————————————————————————————————*/

/* A wrapper for the tab and its background cover */
.tab-block-youtube {
    width: 100%;
    background-color: #302d3b;
    border-radius: 6px 6px 0px 0px;
}

/* Just for optical adjustment */
.fix-top-border {
    width: 30%;
    max-width: 500px;
    border-radius: 6px 6px 0px 0px;
    overflow: hidden;
}

/* Prefix for a tab */
.tab-youtube {
    width: 100%;
    height: 100%;
    background-color: #2c2a38;
    border-top: solid 3px #57afb6;
    color: rgba(255, 255, 255, 0.5);

    font-size: 1rem;
    padding: 0px 15px;
    line-height: 40px;
}

/* A wrapper for the child search box and button */
.child-search-youtube {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #2c2a38;
    padding: 15px;
}

.child-search-youtube::before {
    font-family: agency-fb;
    font-weight: bold;
    font-size: 1.2rem;

    position: absolute;
    z-index: 1;
    content: '>';
    color: rgba(255, 255, 255, 0.5);
    top: 50%;
    left: 35px;
    transform: translateY(-50%);
}

/* Prefix for the search box */
.child-search-box-wrapper {
    width: 80%;
}

.child-search-box-youtube {
    font-family: agency-fb;
    font-weight: bold;
    font-size: 1.2rem;

    display: block;
    width: 100%;
    line-height: 40px;
    background-color: #2e2d3b;
    border: solid 2px rgba(229, 100, 112, 0.5);
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.5);

    padding: 0px 45px 0px 30px;
}

/* Prefix for the placeholder */
.child-search-box-youtube::placeholder {
    font-family: agency-fb;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.3);
}

/* Prefix for a search button */
.child-search-button-youtube {
    width: 17%;
    /* max-width: 200px; */
    background-color: #e56470;
    border-radius: 6px;
    padding: 20px 30px;
    overflow: hidden;
    cursor: pointer;
}

/* A plus icon for the search button */
.child-search-button-youtube::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../../../assets/img/search.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    z-index: 0;
    left: calc(50% - 10px);
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

/* Prefix for youtube iframe */
.content-youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: #302d3b;
    /* Prefix for border-bottom. Without this, 1px solid border will not show up properly */
    margin-bottom: 1px;
}

.content-youtube iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    /* pointer-events: none; */
}