/* Importing made-bruno font */
@font-face {
  font-family: made-bruno;
  src: url('../../../assets/font/MADE_Bruno.otf');
}

html,
body {
  height: 100%;
  -ms-scroll-chaining: none;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
  /* Firefox 64 */
  scrollbar-width: none;
}

body {
  font-family: agency-fb, sans-serif;
  font-style: normal;
  background-color: #32303f;
  color: white;
  /* For IE. Actually I dont support IE though XD */
  -ms-overflow-style: none;
  /* For Firefox. Doesn`t seem to be working */
  /* overflow: -moz-scrollbars-none; */

  /* For Chrome. */
  &::-webkit-scrollbar {
    display: none;
  }
}

// #footer {
//   position: absolute;
//   font-size: 1.1rem;
//   color: rgba(255, 255, 255, 0.5);
//   transform: translateX(-50%);
//   pointer-events: none;
// }

/* made-bruno font */
.made-bruno {
  font-family: made-bruno;

  /* White - made-bruno */
  &.white {
    color: white;
  }

  /* half-opacity - made-bruno */
  &.half-opacity {
    color: white;
    opacity: 0.5;
  }

  /* Gray - made-bruno */
  &.gray {
    color: #4d4b55;
  }
}

/* agency-fb font */
.agency-fb {
  font-family: agency-fb, sans-serif;
  font-style: normal;

  /* Regular font - agency-fb */
  &.regular {
    font-weight: 200;
  }

  /* Bold - agency-fb */
  &.bold {
    font-weight: bold;
  }

  /* White - agency-fb */
  &.white {
    color: white;
  }

  /* Gray - agency-fb */
  &.gray {
    color: #4d4b55;
  }

  /* half-opacity - agency-fb */
  &.half-opacity {
    opacity: 0.5;
  }
}

/* Centering */
/* text-align way of centering */
.center-text-align {
  text-align: center;
}

/* margin way of centering */
.center-margin-auto {
  margin: 0 auto;
}

/* Loading gif */
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #2a2835;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* clearfix */
.clearfix {
  min-height: 1px;

  &::after {
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
    content: '.';
  }
}

/* figure and figcaption configuring */
.fig {
  display: inline-block;
}

/* Flex settings */
.flex-box {
  display: flex;
}

.inline-flex-box {
  display: inline-flex;
}

/* To align items horizontal-center */
.justify-center {
  justify-content: center;
}

/* To align items vertical-center */
.align-items {
  align-items: center;
}

/* To wrap texts */
.flex-wrap {
  flex-wrap: wrap;
}

/* To use space-between */
.flex-space-between {
  justify-content: space-between;
}

/* To set the direction of .flex-space-between vertically */
.flex-direction {
  flex-direction: column;
}

/* Insert dropcap */
.dropcap::first-letter {
  font-size: 4rem;
  line-height: 1;
  float: left;
  margin: 0 0.6rem 0 0;
  padding: 0 0;
}

/* To justify sentences */
.justify-sentence {
  text-align: justify;
  text-justify: inter-ideograph;
}

.spin-wrapper {
  .spinner {
    position: absolute;
    height: 60px;
    width: 60px;
    border: 3px solid transparent;
    border-top-color: #a04668;
    top: 50%;
    left: 50%;
    margin: -30px;
    border-radius: 50%;
    animation: spin 2s linear infinite;

    &::before,
    &::after {
      content: '';
      position: absolute;
      border: 3px solid transparent;
      border-radius: 50%;
    }

    &::before {
      border-top-color: #254e70;
      top: -12px;
      left: -12px;
      right: -12px;
      bottom: -12px;
      animation: spin 3s linear infinite;
    }

    &::after {
      border-top-color: #fffbfe;
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;
      animation: spin 4s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}

/* Use .ellipsis to show '...' */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
