/*———————————————————————————————————————————————————————

Importing fonts

Used:
- components/_canvas-eve.scss

—————————————————————————————————————————————————————————*/

/* made-bruno font */
@font-face {
  font-family: made-bruno;
  src: url('../../../assets/font/MADE_Bruno.otf');
}
