extends layout
block content
  div#canvas-eve-wrapper(style="z-index: 0;")
    // Canvas for drawing
    div#c-oekaki-wrapper(style="z-index: -2;")
      include includes/c-oekaki.pug
    
    // Canvas for ThreeJS
    canvas#c-three(style="z-index: -1;")
    
    // 2D engine
    div#canvas-eve(style="z-index: 0;")
      include includes/canvas-eve.pug

    //- Heads up: z-index: 1; is reserved by the later-created #selected-area

    // Canvas for drawing cursor
    canvas(id="cursor-oekaki" style="z-index: 2;")

    // UI
    div#canvas-eve-ui(class="bold agency-fb" style="z-index: 3;")
      include includes/canvas-eve-ui.pug
  

  // Loading animation
  #loader-bg(style="z-index: 1;")
    include includes/loading.pug