/*———————————————————————————————————————————————————————

Coordinate systems

Used:
- components/_canvas-eve.scss
- components/_oekaki-eve.scss

—————————————————————————————————————————————————————————*/

@mixin coord-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@mixin plain {
  width: 0 !important;
  height: 0 !important;
  scroll-behavior: auto;
  // transition: all 0.1s;
}

@mixin zoom {
  width: 0 !important;
  height: 0 !important;
  position: relative;
  /* background: rgba(255, 0, 0, 0.2);
    width: 600px;
    height: 600px; */
}

/*———————————————————————————————————————————————————————

Overwrite the hover-shadow-single

Used:
- components/_youtube-eve.scss

—————————————————————————————————————————————————————————*/

@mixin hover-shadow-single {
  position: relative;
  display: inline-block;
  padding: 10px 40px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    content: '';
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform 0.3s;
    background-color: #dd4a59;
  }

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: white;
  }

  &:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}
