/*———————————————————————————————————————————————————————

Coordinate systems

Used:
- components/_canvas-eve.scss
- components/_oekaki-eve.scss

—————————————————————————————————————————————————————————*/

@mixin coord-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@mixin plain {
  position: relative;
  width: 0 !important;
  height: 0 !important;
  scroll-behavior: auto;
  // transition: all 0.1s;
}

@mixin zoom {
  position: relative;
  width: 0 !important;
  height: 0 !important;
  /* background: rgba(255, 0, 0, 0.2);
    width: 600px;
    height: 600px; */
}

/*———————————————————————————————————————————————————————

Overwrite the hover-shadow-single

Used:
- components/_youtube-eve.scss

—————————————————————————————————————————————————————————*/

@mixin hover-shadow-single {
  position: relative;
  display: inline-block;
  padding: 10px 40px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    content: '';
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform 0.3s;
    background-color: #dd4a59;
  }

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: white;
  }

  &:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}

/*———————————————————————————————————————————————————————

Add a selected area

Used:
- components/_canvas-eve.scss
- components/_oekaki-eve.scss

—————————————————————————————————————————————————————————*/

@mixin selected-area($dot-color, $background-color) {
  position: relative;
  @if $background-color != false {
    background-color: $background-color;
  }

  &::before {
    content: '';
    background-image: linear-gradient(
        to right,
        $dot-color,
        $dot-color 3px,
        transparent 3px,
        transparent 8px
      ),
      linear-gradient(
        to right,
        $dot-color,
        $dot-color 3px,
        transparent 3px,
        transparent 8px
      ),
      linear-gradient(
        to bottom,
        $dot-color,
        $dot-color 3px,
        transparent 3px,
        transparent 8px
      ),
      linear-gradient(
        to bottom,
        $dot-color,
        $dot-color 3px,
        transparent 3px,
        transparent 8px
      );
    background-size: 8px 1px, 8px 1px, 1px 8px, 1px 8px;
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }

  &.file-wrap {
    width: 0;
    transition: '';
  }
}

/*———————————————————————————————————————————————————————

Drop shadow

Used:
- components/_canvas-eve.scss
- layout/_navigation.scss
- layout/sidebar.scss

—————————————————————————————————————————————————————————*/
@mixin drop-shadow {
  // -webkit-filter: drop-shadow(-3px 3px 5px rgba(0, 0, 0, 0.3));
  // filter: drop-shadow(-3px 3px 5px rgba(0, 0, 0, 0.3));
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

/*———————————————————————————————————————————————————————

Set an icon

Used:
- components/_canvas-eve.scss
- layout/_navigation.scss
- layout/sidebar.scss

—————————————————————————————————————————————————————————*/

@mixin _icon($iWidth, $iHeight, $src) {
  content: '';
  display: inline-block;
  min-width: $iWidth;
  min-height: $iHeight;
  background-image: url($src);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin set-icon($where, $cWidth, $cHeight, $iWidth, $iHeight, $src) {
  position: relative;
  min-width: $cWidth;
  min-height: $cHeight;

  &::#{$where} {
    @include _icon($iWidth, $iHeight, $src);
  }
}

/*———————————————————————————————————————————————————————

Disable text selection highlighting

Used:
- layout/_navigation.scss
- layout/_sidebar.scss

—————————————————————————————————————————————————————————*/
@mixin disable-selection {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
