/*———————————————————————————————————————————————————————

Global variables

—————————————————————————————————————————————————————————*/

:root {
  --bar-width: 17px;
  --half-white: rgba(255, 255, 255, 0.5);
  --transparent-white: rgba(255, 255, 255, 0.05);
  --grey: #939399;
  --dark-grey: #3c3c48;
  --dark: #272734;
}
