/*———————————————————————————————————————————————————————

Global variables

Used:
- components/_canvas-eve.scss
- layout/_navigation.scss

—————————————————————————————————————————————————————————*/

:root {
  --bar-width: 17px;
  --half-white: rgba(255, 255, 255, 0.5);
  --transparent-white: rgba(255, 255, 255, 0.05);
  --grey: #939399;
  --dark-grey: #3c3c48;
  --light-purple: #454456;
  --medium-purple: #2e2e3a;
  --dark-purple: #272734;
}
