@import '../abstracts/variables';
@import '../abstracts/mixins';

/*———————————————————————————————————————————————————————

Common

—————————————————————————————————————————————————————————*/

.ctxmenu-template {
  @include drop-shadow;
  @include disable-selection;

  cursor: context-menu;
  color: $grey;
  background-color: $dark-purple;
  font-size: 1.2rem;
  line-height: 35px;
  overflow: hidden;
  transition: opacity $transition;
  padding: 3px;

  li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px 0 30px;
  }

  li:hover {
    background-color: $dark-grey;
  }

  li:first-of-type:hover {
    border-radius: $elem-radius $elem-radius 0 0;
  }

  li:last-of-type:hover {
    border-radius: 0 0 $elem-radius $elem-radius;
  }

  pointer-events: none;
  opacity: 0;
  &.active {
    pointer-events: auto;
    opacity: 1;
  }
}

/*———————————————————————————————————————————————————————

Context-menu

—————————————————————————————————————————————————————————*/

#ctxmenu-wrapper {
  pointer-events: none;
  position: absolute;
  width: 260px;
}

#ctxmenu {
  width: 100%;
  border-radius: $elem-radius;

  #ctxmenu-new {
    border-top: solid 1px $dark-grey;

    &.active {
      background-color: $dark-grey;
    }
  }

  #ctxmenu-new,
  #ctxmenu-redo,
  #ctxmenu-save {
    border-bottom: solid 1px $dark-grey;
  }
}

#ctxmenu-sub {
  position: absolute;
  left: 96%;
  top: 28%;
  width: 100%;
  border-radius: $elem-radius;

  #ctxmenu-sub-color {
    border-top: solid 1px $dark-grey;
  }

  #ctxmenu-sub-color {
    border-bottom: solid 1px $dark-grey;
  }
}

/*———————————————————————————————————————————————————————

Main menu

—————————————————————————————————————————————————————————*/

#menu-wrapper {
  pointer-events: none;
  position: absolute;
  width: 260px;
}

#canvas-eve-ui {
  #menu-file,
  #menu-edit,
  #menu-window {
    &.active {
      background-color: $dark-purple;
    }
  }
}

#menu-file-list,
#menu-edit-list,
#menu-window-list {
  width: 100%;
  border-radius: 0 $elem-radius $elem-radius $elem-radius;
}

/*———————————————————————————————————————————————————————

Zooming slider

—————————————————————————————————————————————————————————*/

#zslider {
  pointer-events: auto;
  position: absolute;
  left: $bar-tool-width * 2;
  top: 50%;
  width: 0;
  height: 30%;
  transform: translateX(-50%) translateY(-50%);

  #zslider-track {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $grey;
    border: solid 1px $grey;

    &::before,
    &::after {
      position: absolute;
      content: '●';
      font-size: 0.6rem;
      left: 0;
      transform: translateX(-50%) translateY(-50%);
    }

    &::before {
      top: 0;
    }

    &::after {
      top: 100%;
    }
  }

  #zslider-thumb {
    position: absolute;
    left: 0;
    top: 50%;
    width: 25px;
    height: 25px;
    transform: translateX(-50%) translateY(-50%);
    background-color: $canvas-color;
    border: solid 3px $grey;
    border-radius: 50%;
  }
}
