@import '../abstracts/variables';
@import '../abstracts/mixins';

/*———————————————————————————————————————————————————————

Local variables

—————————————————————————————————————————————————————————*/

$img-path: '../../../assets/img/system_ui';
$tab-radius: 8px;

/*———————————————————————————————————————————————————————

Local mixins

—————————————————————————————————————————————————————————*/

@mixin bar-prefix($color) {
  pointer-events: auto;
  position: absolute;
  background-color: $color;
}

@mixin side-bar-prefix($height) {
  top: $height;
  height: calc(100% - #{$height});
}

/*———————————————————————————————————————————————————————

#canvas-eve-ui / #ui-top-bar

Description:
Top-bar UI

—————————————————————————————————————————————————————————*/

#ui-top-bar {
  @include bar-prefix($light-purple);

  width: 100%;
  height: $top-bar-height;
  border-bottom: solid $bar-border-width $medium-purple;

  display: flex;
  li {
    display: inline-block;
    // vertical-align: middle;
    line-height: $top-bar-height;
    padding: 0 calc((#{$left-bar-width} - 20px) / 4);

    &:hover {
      background-color: $dark-purple;
    }
  }
}

#home-ui-button {
  @include set-icon(
    'after',
    $left-bar-width,
    30px,
    50%,
    50%,
    '#{$img-path}/home.png'
  );

  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  // margin: 0 calc((#{$left-bar-width} - 30px) / 2);
  // border-right: solid 2px rgba(#ffffff, 0.1);

  &:hover {
    background-color: $dark-purple;
    // border-right: solid 2px $dark-purple;
  }
}

/*———————————————————————————————————————————————————————

#canvas-eve-ui / #ui-left-bar

Description:
Left-bar UI

—————————————————————————————————————————————————————————*/

// #ui-left-bar { }

.ui-tool-bar {
  // @include drop-shadow;
  @include bar-prefix($light-purple);
  @include side-bar-prefix($top-bar-height);

  left: 0;
  width: $left-bar-width;
  border-right: solid $bar-border-width $medium-purple;
  padding: 0 6px;

  hr {
    background-color: $grey;
    border: 1px solid $grey;
    border-radius: 8px;
    height: $touch-bar-width;
    margin: calc((#{$middle-bar-height} - 4px) / 2) 0;
  }
}

#pen-ui-button,
#eraser-ui-button,
#crop-ui-button,
#spuit-ui-button,
#thumbtack-ui-button,
#resize-ui-button,
#rotate-ui-button,
#flip-ui-button {
  margin: 1px 0;

  &:hover {
    background-color: $dark-purple;
    border-radius: $elem-radius;
  }
}

#pen-ui-button {
  @include set-icon('after', 30px, 30px, 50%, 50%, '#{$img-path}/pen.png');
}

#eraser-ui-button {
  @include set-icon('after', 30px, 30px, 50%, 50%, '#{$img-path}/eraser.png');
}

#crop-ui-button {
  @include set-icon('after', 30px, 30px, 50%, 50%, '#{$img-path}/crop.png');
}

#spuit-ui-button {
  @include set-icon('after', 30px, 30px, 50%, 50%, '#{$img-path}/spuit.png');
}

#thumbtack-ui-button {
  @include set-icon(
    'after',
    30px,
    30px,
    37.6%,
    50%,
    '#{$img-path}/thumbtack.png'
  );
}

#resize-ui-button {
  @include set-icon('after', 30px, 30px, 50%, 50%, '#{$img-path}/resize.png');
}

#rotate-ui-button {
  @include set-icon('after', 30px, 30px, 50%, 50%, '#{$img-path}/rotate.png');
}

#flip-ui-button {
  @include set-icon('after', 30px, 30px, 50%, 50%, '#{$img-path}/flip.png');
}

/*———————————————————————————————————————————————————————

#canvas-eve-ui / #ui-right-bar

Description:
Right-bar UI

—————————————————————————————————————————————————————————*/

#ui-right-bar {
  // @include drop-shadow;
  @include bar-prefix($light-purple);
  @include side-bar-prefix($top-bar-height);

  right: 0;
  width: $right-bar-width;
  border-left: solid $bar-border-width $medium-purple;
}

/*———————————————————————————————————————————————————————

#canvas-eve-ui / #ui-middle-bar

Description:
Middle-bar UI

—————————————————————————————————————————————————————————*/

// #ui-middle-bar { }

.ui-tab-bar {
  @include bar-prefix($light-purple);

  left: $left-bar-width;
  top: $top-bar-height;
  width: calc(100vw - #{$left-bar-width} - #{$right-bar-width});
  height: $middle-bar-height;
  // border-bottom: solid $bar-border-width $medium-purple;

  ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  // li {
  //   display: inline-block;
  // }

  .close-button {
    @include set-icon('after', 20px, 20px, 50%, 50%, '#{$img-path}/close.png');

    margin: auto 0;
    &:hover {
      border-radius: 50%;
    }
  }

  overflow-y: hidden;
  &::-webkit-scrollbar {
    height: 2px;
    background: transparent;
  }
  &:hover::-webkit-scrollbar {
    height: 6px;
    background: transparent;
  }

  // Scrollbar track
  &::-webkit-scrollbar-track {
    background: $canvas-color;
    border: none;
  }

  // Scrollbar itself
  &::-webkit-scrollbar-thumb {
    background: $dark-purple;
    border-radius: 8px;
  }
}

.tab-prefix {
  min-width: 150px;
  height: 100%;
  padding: 0 calc((#{$left-bar-width} - 20px) / 2);
}

.tab-current {
  background-color: $canvas-color;

  .close-button {
    &:hover {
      background-color: $light-purple;
    }
  }
}

.tab-rest {
  .close-button {
    &:hover {
      background-color: $medium-purple;
    }
  }
}

.tab-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  .canvas-name {
    line-height: $middle-bar-height;
  }
}

.tab-curve {
  position: relative;
  height: $middle-bar-height;
  background: $canvas-color;

  &.single {
    border-radius: 0 6px 0 0;
  }

  &.double {
    border-radius: 6px 6px 0 0;
  }
}

.tab-curve:before,
.tab-curve:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 2 * $tab-radius;
  height: $tab-radius;
}

.tab-curve:after {
  right: -2 * $tab-radius;
  border-radius: 0 0 0 $tab-radius;
  box-shadow: -$tab-radius 0 0 0 $canvas-color;
}

.tab-curve:before {
  left: -2 * $tab-radius;
  border-radius: 0 0 $tab-radius 0;
  box-shadow: $tab-radius 0 0 0 $canvas-color;
}

/*———————————————————————————————————————————————————————

#canvas-eve-ui / #ui-bottom-bar

Description:
Bottom-bar UI

—————————————————————————————————————————————————————————*/

#ui-bottom-bar {
  @include bar-prefix($light-purple);

  left: $left-bar-width;
  bottom: 0;
  width: calc(100vw - #{$left-bar-width} - #{$right-bar-width});
}

#progress-bar {
  background-color: $shocking-pink;
  top: -3px;
  left: 0;
  width: 0%;
  height: 3px;
  opacity: 0;
  transition: width 0.3s ease-in-out, opacity 0.1s ease-out;

  /* When starting loading a file */
  &.loading {
    opacity: 1;
  }
}

.ui-footer-bar {
  width: 100%;
  height: $bottom-bar-height;
  border-top: solid $bar-border-width $medium-purple;

  padding: 0 calc((#{$left-bar-width} - 20px) / 4);
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  div {
    line-height: $bottom-bar-height;
  }
}
