@import '../abstracts/variables';
@import '../abstracts/mixins';

/*———————————————————————————————————————————————————————

Local variables

—————————————————————————————————————————————————————————*/

$img-path: '../../../assets/img/system_ui';
$tab-radius: 8px;

/*———————————————————————————————————————————————————————

Local mixins

—————————————————————————————————————————————————————————*/

@mixin bar-prefix($color) {
  pointer-events: auto;
  position: absolute;
  background-color: $color;
}

@mixin side-bar-prefix($height) {
  top: $height;
  height: calc(100% - #{$height});
}

/*———————————————————————————————————————————————————————

#canvas-eve-ui / #ui-bar-top

Description:
Top-bar UI

—————————————————————————————————————————————————————————*/

#ui-bar-top {
  @include bar-prefix($light-purple);
  @include disable-selection;

  left: 0;
  top: 0;
  width: 100vw;
}

#ui-bar-menu {
  width: 100%;
  height: $bar-menu-height;
  border-bottom: solid $bar-border-width $medium-purple;

  display: flex;
  li {
    display: inline-block;
    // vertical-align: middle;
    line-height: $bar-menu-height;
    padding: 0 calc((#{$bar-tool-width} - 20px) / 4);

    &:hover {
      background-color: $dark-purple;
    }
  }

  #ui-button-home {
    @include set-icon(
      'after',
      $bar-tool-width,
      30px,
      50%,
      50%,
      '#{$img-path}/home.png'
    );

    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    // margin: 0 calc((#{$bar-tool-width} - 30px) / 2);
    // border-right: solid 2px rgba(#ffffff, 0.1);

    &:hover {
      background-color: $dark-purple;
      // border-right: solid 2px $dark-purple;
    }
  }
}

/*———————————————————————————————————————————————————————

#canvas-eve-ui / #ui-bar-left

Description:
Left-bar UI

—————————————————————————————————————————————————————————*/

#ui-bar-left {
  // @include drop-shadow;
  @include bar-prefix($light-purple);
  @include side-bar-prefix($bar-menu-height);

  left: 0;
}

#ui-bar-tool {
  overflow: auto; // Check the following for the reason: https://stackoverflow.com/questions/27829250/child-margin-doesnt-affect-parent-height
  width: $bar-tool-width;
  height: 100%;
  border-right: solid $bar-border-width $medium-purple;
  padding: 0 6px;

  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 3px;
    background: transparent;
  }
  &:hover::-webkit-scrollbar {
    width: 6px;
    background: transparent;
  }

  // Scrollbar track
  &::-webkit-scrollbar-track {
    background: $canvas-color;
    border: none;
  }

  // Scrollbar itself
  &::-webkit-scrollbar-thumb {
    background: $dark-purple;
    border-radius: 8px;
  }

  hr {
    background-color: $grey;
    border: 1px solid $grey;
    border-radius: 8px;
    height: $touch-line-height;
    margin: calc((#{$bar-tab-height} - 4px) / 2) 0;
  }

  #ui-button-pen,
  #ui-button-eraser,
  #ui-button-crop,
  #ui-button-spuit,
  #ui-button-thumbtack,
  #ui-button-resize,
  #ui-button-rotate,
  #ui-button-flip {
    margin: 1px 0;

    &:hover {
      background-color: $dark-purple;
      border-radius: $elem-radius;
    }
  }

  #ui-button-pen {
    @include set-icon('after', 30px, 30px, 50%, 50%, '#{$img-path}/pen.png');
  }

  #ui-button-eraser {
    @include set-icon('after', 30px, 30px, 50%, 50%, '#{$img-path}/eraser.png');
  }

  #ui-button-crop {
    @include set-icon('after', 30px, 30px, 50%, 50%, '#{$img-path}/crop.png');
  }

  #ui-button-spuit {
    @include set-icon('after', 30px, 30px, 50%, 50%, '#{$img-path}/spuit.png');
  }

  #ui-button-thumbtack {
    @include set-icon(
      'after',
      30px,
      30px,
      37.6%,
      50%,
      '#{$img-path}/thumbtack.png'
    );
  }

  #ui-button-resize {
    @include set-icon('after', 30px, 30px, 50%, 50%, '#{$img-path}/resize.png');
  }

  #ui-button-rotate {
    @include set-icon('after', 30px, 30px, 50%, 50%, '#{$img-path}/rotate.png');
  }

  #ui-button-flip {
    @include set-icon('after', 30px, 30px, 50%, 50%, '#{$img-path}/flip.png');
  }
}

/*———————————————————————————————————————————————————————

#canvas-eve-ui / #ui-bar-right

Description:
Right-bar UI

—————————————————————————————————————————————————————————*/

#ui-bar-right {
  // @include drop-shadow;
  @include bar-prefix($light-purple);
  @include side-bar-prefix($bar-menu-height);

  right: 0;
}

.ui-bar-closed {
  width: $bar-closed-width;
  height: 100%;
  border-left: solid $bar-border-width $medium-purple;

  .ui-button-closed {
    @include set-icon(
      'after',
      $bar-closed-width,
      $bar-closed-width,
      70%,
      56.35%,
      // 70 * 0.805
        '#{$img-path}/open-tab.png'
    );
  }

  &:hover {
    background-color: $semi-light-purple;

    .ui-button-closed {
      filter: brightness(0.9);
    }
  }
}

/*———————————————————————————————————————————————————————

#canvas-eve-ui / #ui-bar-middle

Description:
Middle-bar UI

—————————————————————————————————————————————————————————*/

#ui-bar-middle {
  @include bar-prefix($light-purple);
  @include disable-selection;

  left: $bar-tool-width;
  top: $bar-menu-height;
  width: calc(100vw - #{$bar-tool-width} - #{$bar-closed-width});
}

#ui-bar-tab {
  width: 100%;
  height: $bar-tab-height;
  border-bottom: solid $bar-border-width $canvas-color;

  ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .close-button {
    @include set-icon('after', 20px, 20px, 50%, 50%, '#{$img-path}/close.png');

    margin: auto 0;
    &:hover {
      border-radius: 50%;
    }
  }

  overflow-y: hidden;
  &::-webkit-scrollbar {
    height: 3px;
    background: transparent;
  }
  &:hover::-webkit-scrollbar {
    height: 6px;
    background: transparent;
  }

  // Scrollbar track
  &::-webkit-scrollbar-track {
    background: $canvas-color;
    border: none;
  }

  // Scrollbar itself
  &::-webkit-scrollbar-thumb {
    background: $dark-purple;
    border-radius: 8px;
  }

  .tab-prefix {
    min-width: 200px;
    height: 100%;
    padding: 0 calc((#{$bar-tool-width} - 20px) / 2);

    .tab-info {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      .canvas-name {
        line-height: $bar-tab-height;
      }
    }
  }

  .tab-current {
    background-color: $canvas-color;

    .close-button {
      &:hover {
        background-color: $light-purple;
      }
    }
  }

  .tab-rest {
    .close-button {
      &:hover {
        background-color: $medium-purple;
      }
    }
  }

  .tab-curve {
    position: relative;
    height: $bar-tab-height;
    background: $canvas-color;

    &.single {
      border-radius: 0 6px 0 0;
    }

    &.double {
      border-radius: 6px 6px 0 0;
    }
  }

  .tab-curve:before,
  .tab-curve:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 2 * $tab-radius;
    height: $tab-radius;
  }

  .tab-curve:after {
    right: -2 * $tab-radius;
    border-radius: 0 0 0 $tab-radius;
    box-shadow: -$tab-radius 0 0 0 $canvas-color;
  }

  .tab-curve:before {
    left: -2 * $tab-radius;
    border-radius: 0 0 $tab-radius 0;
    box-shadow: $tab-radius 0 0 0 $canvas-color;
  }
}

/*———————————————————————————————————————————————————————

#canvas-eve-ui / #ui-bar-bottom

Description:
Bottom-bar UI

—————————————————————————————————————————————————————————*/

#ui-bar-bottom {
  @include bar-prefix($light-purple);

  left: $bar-tool-width;
  bottom: 0;
  width: calc(100vw - #{$bar-tool-width} - #{$bar-closed-width});

  #progress-bar {
    position: absolute;
    background-color: $shocking-pink;
    top: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    opacity: 0;
    transition: width 0.3s ease-in-out, opacity 0.1s ease-out;

    /* When starting loading a file */
    &.loading {
      opacity: 1;
    }
  }
}

#ui-bar-footer {
  width: 100%;
  height: $bar-footer-height;
  border-top: solid $bar-border-width $medium-purple;

  padding: 0 calc((#{$bar-tool-width} - 20px) / 4);
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  div {
    line-height: $bar-footer-height;
  }
}
